/* Import de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Variables */
:root {
    --ancho-maximo: 1024px;
    --fondo: #E5E5E5;
    --fondo-barra: #222222; 
    --fondo-img: #eab83b;
    --link: #F3F3F3;
    --logo: #39B24A;
    --resalte: #FFFFFF;
    --sombra: rgba(0,0,0,0.25);
    --titulo: #FC200C;
}

/* Propiedades generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: var(--link);
    text-decoration: none;
}

ul {list-style-type: none;}

strong {color: var(--resalte);}


/* Etiquetas */
body {
    background-color: var(--fondo);
    background-image: url(../img/background.jpg);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 24px;
    padding: 10px 0 10px 115px;
}

h2 {
    color: var(--titulo);
}

/* Flexbox */
.container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: var(--ancho-maximo);
}

/*--- Header ---------------------*/

header {
    background-color: var(--fondo-barra);
    box-shadow: 0 4px 4px var(--sombra); 
    position: sticky;
    top: 0;
}

header .container {
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

/* Logo */

.logo, .menu{
    align-items: center;
    display: flex;
    gap: 15px;
}

.logo-pizza {color: var(--logo);}
.logo-and {color: var(--resalte);}
.logo-front {color: var(--titulo);}

header .logo img {
    left: 30px;
    position: absolute;
    top: 10px;
    width: 100px;
}

/*--- Main ----------------------*/

main .container {
    gap: 5px;
    justify-content: center;
    padding: 35px 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--sombra);
    height:350px;
    width:490px;
}

.promo {
    background: var(--fondo-img) url(../img/delivery.jpg) no-repeat center;
    background-size: cover;
}

.promo h2{
    padding:20px;
}

.podio {
    background-color: rgba(255,255,255,0.5);
 }

.podio h2 {
    padding: 26px;
    text-align: center;
}

.podio h3 {
    padding: 20px 0;
}

.podio li {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}

.card-container {
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    padding: 20px 20px;
}


/*--- Footer --------------------*/

footer {
    background-color: var(--fondo-barra);
}

footer .container {
    justify-content: space-between;
    padding: 20px 20px;
}

.menu-footer {
    display:flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}

footer .logo p {
    font-size: 20px;
    font-weight: bold;
}